/* Reset Layout */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* Body */

html {
    height: 100%;
}

body {
    min-height: 100%;
    padding-bottom: 50px;
    position: relative;
    background-color: #002231;
    color: #ddbfbf;
    font-family: 'Itim', cursive, Georgia, 'Times New Roman', Times, serif;
}

/* Header */

.main_logo {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-size: 48px;
    font-weight: 100;
    font-family: 'Pacifico', cursive, Georgia, 'Times New Roman', Times, serif;
}

.main_header {
    border-bottom-right-radius: 40px;
    background: #648880;
    border-bottom: 5px solid #ffae00;
    background: linear-gradient(to right, #f6f1d3, #648880, #293f50);
}

/* Links */

a {
    text-decoration: none;
}

.main_header a,
.main_footer a {
    color: #ddbfbf;
}

.main_header a:hover, 
.main_footer a:hover {
    color: #ffae00;
}

/* Navigation Menu */

.navigation_menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
    padding-bottom: 10px;
}

.navigation_menu li a {
    padding: 10px;
    font-size: 25px;
}

/* Intro section */

.intro {
    padding-left: 20px;
    padding-top: 70px;
}

.picture img {
    padding-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 50%;
    border-right: 10px;
    float: left;
}

/* Text */

p {
    text-align: justify;
    margin-right: 30px;
}

h2 {
    color: #ffae00;
    font-size: 20px;
}

h4 {
    text-transform: uppercase;
    color: #dfb0b0d0;
}

/* Footer */

.main_footer {
    color: #648880;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 6px;
    height: 20px;
    border-top-left-radius: 10px;
    border-top: 3px solid #ffae00;
}

.main_footer small {
    float: left;
    margin-left: 20px;
}

.main_footer li a {
    font-size: 18px;
}

/* Description */

.description {
    text-align: center;
    margin-right: 30px;
    margin-left: 20px;
    border-radius: 5px;
    border-left: 6px double #648880;
    border-top: 6px double #648880;
    padding: 10px;
}

.description ul {
    list-style-type: none;
    text-align: left;
    margin-left: 30px;
}

.description li::before {
    content: "-";
    color: #ffae00;
    padding: 10px;
    margin-left: -25px;
}

/* Contact form */

.contact {
    margin-left: 50px;
    padding-top: 40px;
    font-size: 20px;
}

.contact input, textarea {
    border-top: 5px solid #648880;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
    border-left: none;
    color: #293f50;
    margin: 5px 0 30px 0;
    padding: 5px 10px;
    font-family: 'Itim', cursive, Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 350px;
}

.contact input[type=submit]:enabled {
    border-top: 5px solid #ffae00;
    transition: all 0.2s linear 0s;
}

.contact input[type=submit]:hover:enabled {
    cursor: pointer;
    box-shadow:
            0 1px 0 rgba(255, 255, 255, 0.25),
            0 1px 0 rgba(255, 255, 255, 0.25) inset,
            0 0 0 rgba(0, 0, 0, 0.5) inset,
            0 1.25rem 0 rgba(255, 255, 255, 0.08) inset,
            0 -1.25rem 1.25rem rgba(0, 0, 0, 0.3) inset,
            0 1.25rem 1.25rem rgba(255, 255, 255, 0.1) inset;
}

.content-contact {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#octocat {
    margin: 50px;
    max-width: 100%;
}

/* Guides */

.guides {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 200px;
}

.guides h2 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}

.guides img {
    max-width: 100%;
}

/* Image Map */

img.map, map area{
    outline: none;
}